<ul class="breadcrumb">
    <li><a href="javascript:;" [routerLink]="['/client-area']">funded</a></li>
    <li><a href="javascript:;" [routerLink]="['/profile']" routerLinkActive="router-link-active">Profile</a></li>
    <li>Account Information</li>
</ul>


<div class="page">
    <div class="tab-menu">
        <ul>
            <li>
                <a href="javascript:;" [routerLink]="['/profile']">Personal Information</a>
            </li>
            <li>
                <a href="javascript:;" class="active" [routerLink]="['/account-information']">Account Information</a>
            </li>
            <li>
                <a href="javascript:;" [routerLink]="['/security']">Security</a>
            </li>
            <li>
                <a href="javascript:;" [routerLink]="['/newsletter']">Newsletters</a>
            </li>
        </ul>

    </div>


    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="card card-custom gutter-b border-0 mb-5">
            <div class="card-body p-4">
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="uname" class="mb-2">User Name</label>
                        <input type="text" class="form-control" id="uname" formControlName="userName">
                    </div>
                    <div class="col-md-6">
                        <label for="lang" class="mb-2">Language</label>
                        <select class="form-control" id="tzone" formControlName="languageCode">
                            <option>English</option>
                            <option>Odia</option>
                            <option>Bengali</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <div class="col-md-6">
                        <label for="tzone" class="mb-2">Time Zone</label>
                        <select class="form-control" id="tzone" formControlName="timeZoneCode">
                            <option>Autodetected</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-primary font-weight-bold py-3 mt-3 w-25" type="submit">Save</button>
        </div>
    </form>
</div>