.header {
    background-color: #222323;

    .header-logo {
        img {
            height: 80px;
        }
    }

    .topbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        padding: 0;

        .topbar-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }

    .symbol {
        display: inline-block;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        position: relative;
        border-radius: 0.42rem;
        text-decoration: none;

        .symbol-label {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            font-weight: 500;
            line-height: 0;
            color: #464E5F;
            background-color: #F3F6F9;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            border-radius: 0.42rem;
        }

        &.symbol-35 {
            .symbol-label {
                width: 35px;
                height: 35px;
            }
        }

        &.symbol-light-success {
            .symbol-label {
                background-color: #C9F7F5;
                color: #1BC5BD;
            }
        }
    }
}