<div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">
    <div class="brand flex-column-auto" id="kt_brand">
        New Bright Fundeds Challenge
    </div>

    <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
        <div id="kt_aside_menu" class="aside-menu my-4">
            <ul class="menu-nav">
                <li class="menu-section">
                    <h4 class="menu-text">Main Menu</h4>
                </li>
                <li class="menu-item" aria-haspopup="true">
                    <a href="javascript:;" [routerLink]="['/client-area']" routerLinkActive="router-link-active"  class="menu-link">
                        <span class="menu-text">Client Area</span>
                        <i class="menu-arrow"></i>
                    </a>

                </li>
                <li class="menu-item" aria-haspopup="true">
                    <a href="javascript:;" [routerLink]="['/profile']" routerLinkActive="router-link-active"  class="menu-link">
                        <span class="menu-text">Profile</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                <li class="menu-section">
                    <h4 class="menu-text">Apps</h4>
                </li>
                <li class="menu-item" aria-haspopup="true">
                    <a href="javascript:;" [routerLink]="['/economic-calendar']" routerLinkActive="router-link-active"  class="menu-link">
                        <span class="menu-text">Economic Calendar</span>
                        <i class="menu-arrow"></i>
                    </a>

                </li>
                <li class="menu-item" aria-haspopup="true">
                    <a href="javascript:;"  class="menu-link">
                        <span class="menu-text">Account Metrix</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>