<ul class="breadcrumb">
    <li><a href="javascript:;" [routerLink]="['/client-area']">Funded</a></li>
    <li>Client Area</li>
</ul>

<div class="page">
    <div class="row">
        <div class="col-md-6">
            <div class="plan-table free">
                <h2>FREE TRIAL</h2>
                <p>Master your skills</p>
                <ul>
                    <li>
                        No eligibility for an BrightFunded Account
                    </li>
                    <li>
                        14 days
                    </li>
                    <li>
                        Basic Account Analysis
                    </li>
                    <li>
                        Limited Apps
                    </li>
                </ul>
                <div class="form-group text-center">
                    <button class="btn font-weight-bold py-3 mt-3 ">TRY FOR FREE</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="plan-table challenge">
                <h2>BRIGHT FUNDED CHALLENGE</h2>
                <p>Trade up to $200,00 BrightFunded Account</p>
                <p>Show us your trading skills. Pass the Evaluation Course and receive the BrightFunded Account!</p>
                <ul>
                    <li>
                        We provide you with up to $200,000 BrightFunded Account
                    </li>
                    <li>
                        Prove your trading skills
                    </li>
                    <li>
                        Full Account Analysis
                    </li>
                    <li>
                        Premium Apps
                    </li>
                </ul>
                <div class="form-group text-center">
                    <button class="btn btn-primary font-weight-bold py-3 mt-3">Start Bright Funded Challenge</button>
                </div>
            </div>
        </div>
    </div>
</div>