<div class="login-form login-signin">
    <div class="text-center mb-10 mb-lg-20">
        <h3 class="font-size-h1">Sign Up</h3>
        <p class="text-muted font-weight-bold">Join the most expensive trading fund and Fund your Galaxy!</p>
    </div>
    <form class="form" [formGroup]="signUpPasword" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input class="form-control form-control-solid h-auto py-2 px-3 pe-4" type="text" placeholder="User Name"
                name="username" autocomplete="off" formControlName="userName"
                (focusout)="checkAvailbility('username')" />
            <i class="material-symbols-outlined" *ngIf="available">
                check
            </i>
            <span class="text-danger" *ngIf="(formControl.userName.touched) && formControl.userName.errors?.required">
                User Name is required
            </span>
            <span class="text-danger" *ngIf="isUserNameAvailable">
                User Name is already taken
            </span>

        </div>
        <div class="form-group">
            <input class="form-control form-control-solid h-auto py-2 px-3 pe-4" type="email" placeholder="Email"
                name="useremail" autocomplete="off" formControlName="userEmail"
                (focusout)="checkAvailbility('email')" />
            <i class="material-symbols-outlined" *ngIf="email_available">
                check
            </i>
            <span class="text-danger" *ngIf="(formControl.userEmail.touched) && formControl.userEmail.errors?.required">
                Email is required
            </span>
            <span class="text-danger" *ngIf="isMailAvailable">
                Email is already taken
            </span>

        </div>
        <div class="form-group">
            <input class="form-control form-control-solid h-auto py-2 px-3" type="password" placeholder="Password"
                name="password" autocomplete="off" formControlName="userPassword" />
            <span class="text-danger"
                *ngIf="(formControl.userPassword.touched) && formControl.userPassword.errors?.required">
                Password is required
            </span>
        </div>
        <div class="form-group">
            <input class="form-control form-control-solid h-auto py-2 px-3" type="password"
                placeholder="Confirm Password" name="confirmpassword" autocomplete="off" />
        </div>
        <div class="form-group">
            <select name="" id="" class="form-control form-control-solid h-auto py-2 px-3"
                formControlName="countryCode">
                <option value="" disabled selected>Select Your Country</option>
                <option *ngFor="let item of allCountries" [value]="item.countryCode">{{item.countryName}}</option>
            </select>
        </div>
        <div class="form-group d-flex flex-wrap justify-content-end align-items-center">
            <button id="kt_login_signin_submit" class="btn btn-primary font-weight-bold py-2 w-100" type="submit">Sign
                Up</button>
        </div>
        <div class="text-center">
            <span class="font-weight-bold text-dark-50">Already have an account? </span>
            <a href="javascript:;" [routerLink]="['/auth/login']" class="font-weight-bold ml-2" id="kt_login_signup">Log
                In</a>
        </div>
    </form>
</div>